[submodule "OpenGL-Registry"]
	path = OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "gl-headers"]
	path = gl-headers
	url = https://github.com/olegease/gl-headers.git
